<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/liveview_for_host_n_user_2.css' />
  <link rel='stylesheet' href='/stylesheets/live/rwd.css' />

  <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.0.0/dash.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <%- include("./model/header/call-headers.ejs") %>

  <div id='live_container'>
    <div id='openProductShowBtn'>
      <p>-</p>
    </div>
    <div id='productShow'>
      <div id='productDescription'>
        <%- include("./model/product/productdescription.ejs") %>
      </div>
      <div id='productlist'>
      </div>
    </div>

    <div id='liveCheckButton'>
      <div id='liveicon-container'>
        <div id='circle'>
          <div id='innercircle'></div>
        </div>
        <div id='liveword'>NOT LIVE</div>
      </div>
      <div id='livestatus'>影像有出現後按我開播</div>

    </div>

    <div id='live'>


      <div id='video'>
        <video autoplay id="live_video" controls muted>
        </video>
      </div>
    </div>

    <div id='chat'>
      <div id='msglog'>
      </div>
           <div id='sendmsg-container'>
            <div id='sendMessage'>
              <input type="text" id="message" name="message">
              <button id='sendMsgBtn'>傳 送</button>
            </div>
        <div>
          <p id='msg_status'></p>
        </div>
      </div>
    </div>


  </div>
  <script>

    socket = io.connect();
    const roomid = '<%- id %>';
    const current_host_name = '<%= loginStatus.name %>';
    // var username = document.getElementById('username').innerText;

    //check host's room and join
    console.log(roomid);
    var user = {
      name: current_host_name,
      room: roomid
    }
    socket.emit('join', user);
    socket.on('sys', function (status) {
      console.log(status);
    });

    //chat enter event
    document.getElementById("message").addEventListener("keyup", function (event) {
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("sendMsgBtn").click();
      }
    });


    // host send message
    document.getElementById('sendMsgBtn').addEventListener('click', sendMessage);
    function sendMessage(e) {
      e.preventDefault();
      // var username = document.getElementById('username').innerText;
      var message = document.getElementById('message').value;
      if (message != '' && current_host_name != '') {
        var msg = {
          username: current_host_name,
          sender_role: 'host',
          message: message,
          room: roomid,
          image: ''
        }
        console.log(msg);
        socket.emit('usr_message', msg);
        document.getElementById("message").value = '';
      }
      if (current_host_name == '') {
        document.getElementById('msg_status').innerText = '請先登入';
        document.getElementById('msg_status').style.visibility = 'visible';
      }

    }

    //host send current product
    document.getElementById('Button_text').innerText = '發佈到聊天';
    document.getElementById('addtoCart').addEventListener('click', function (e) {
      e.preventDefault();

      var message = '現在要播出的商品: ' + document.getElementById('product_name').innerText;
      if (current_host_name != '') {
        var msg = {
          username: current_host_name,
          sender_role: 'host',
          message: message,
          room: roomid,
          image: document.getElementById('mainimg').src
        }
        console.log(msg);
        socket.emit('usr_message', msg);
      }
      // let msglog = document.getElementById('msglog');
      // msglog.innerHTML += '<div class="hostMsg" style="width:100% display:inline-block;text-align:left;"><span>現在要播出的商品：' + document.getElementById('product_name').innerText + '</span></div>'
      // msglog.innerHTML += '<div class="hostMsg-img"><img src="' + document.getElementById('mainimg').src + '"></div>';
      // msglog.scrollTop = msglog.scrollHeight;
    })


    // User receive message 
    socket.on('gotMessage', function (gotMessage) {
      let msglog = document.getElementById('msglog');
      if (gotMessage.sender_role == 'host') {
        msglog.innerHTML += '<div class="hostMsg">' + '<div><span>' + gotMessage.username + " : " + gotMessage.message + '</span></div></div>';
        if (gotMessage.image != '') {
          msglog.innerHTML += '<div class="hostMsg-img"><img src="' + gotMessage.image + '"></div>';
        }
        msglog.scrollTop = msglog.scrollHeight;

      } else {
        msglog.innerHTML += '<div class="userMsg">' + '<div><span>' + gotMessage.username + " : " + gotMessage.message + '</span></div></div>';
        if (gotMessage.image != '') {
          msglog.innerHTML += '<div class="hostMsg-img"><img src="' + gotMessage.image + '"></div>';
        }
        msglog.scrollTop = msglog.scrollHeight;
      }
    });
  </script>



</body>

<script>

</script>



<script>

  var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
  var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
  if (isSafari && iOS) {
    document.getElementById('live_video').src = `https://d2bdydyr5nl3wu.cloudfront.net/live/` + '<%- id %>' + `/index.m3u8`;

  }  else {

    // live video pull
    if (flvjs.isSupported()) {
      // document.querySelector("#video").addEventListener("click", function () {       })
      const live_url = `http://d2bdydyr5nl3wu.cloudfront.net/live/` + '<%- id %>' + `.flv`;
      const video = document.getElementById('live_video');
      //const target = document.querySelector("input").value;
      const flvPlayer = flvjs.createPlayer({
        type: 'flv',
        url: live_url
        //url: `rtmp://localhost/live/`
      });
      flvPlayer.attachMediaElement(video);
      flvPlayer.load();
      flvPlayer.play();

    }
  }

</script>



<!-- DASH mpd
  <script>
    //let video_url = "http://localhost:8000/live/hzctony/index.mpd";
    let video_url = "http://d2bdydyr5nl3wu.cloudfront.net/live/" + "6a724b416e5a449dedb038bf20cac4b7fdbdaee0396665bc61575e19d9b94f26" + "/index.mpd";
    let player = dashjs.MediaPlayer().create();
    let videoplayer = document.getElementById('live_video');
    player.initialize(videoplayer, video_url, true);
  </script> -->


<script>
  const stream_id = '<%- id %>';
  document.getElementById('liveCheckButton').addEventListener('click', function (e) {
    e.preventDefault();
    var color = $('#liveicon-container').css("background-color");
    console.log('color ==', color);
    if (color == 'rgb(128, 128, 128)') {
      // $('#circle').css('border-color', 'rgb(255, 0, 0)');
      // $('#innercircle').css('background-color', 'rgb(255, 0, 0)');
      //$('#liveword').css('background-color', 'rgb(255, 0, 0)');
      $('#liveicon-container').css('background-color', 'rgb(255, 0, 0)');
      document.getElementById('livestatus').innerHTML = '正在開播中，按我取消';
      document.getElementById('liveword').innerHTML = 'LIVE';
      updateLiveActivation('open', stream_id);
    } else if (color == 'rgb(255, 0, 0)') {
      // $('#circle').css('border-color', 'rgb(128, 128, 128)');
      // $('#innercircle').css('background-color', 'rgb(128, 128, 128)');
      // $('#liveword').css('background-color', 'rgb(128, 128, 128)');
      $('#liveicon-container').css('background-color', 'rgb(128, 128, 128)');
      document.getElementById('livestatus').innerHTML = '影像有畫面後按我開播';
      document.getElementById('liveword').innerHTML = 'NOT LIVE';
      updateLiveActivation('close', stream_id);
    }
  })


  window.addEventListener("beforeunload", function (e) {
    e.preventDefault();
    updateLiveActivation('close', stream_id);

  });

  function updateLiveActivation(status) {
    $.ajax({
      url: '/hostlive/updateLiveActivation',
      type: "POST",
      data: {
        stream_token: stream_id,
        status: status
      },
      success: function (res) {
        console.log(res.status);
      }
    })
  }

</script>




<script>
  $.ajax({
    url: '/hostlive/getAllproducts',
    type: "POST",
    data: {
      stream_token: '<%- id %>',
    },
    success: function (gotAllProducts_of_current_host) {
      console.log('gotAllProducts == ', gotAllProducts_of_current_host);

      //for open the live view at the beginning, parse the first product to product show
      document.getElementById('product_name').innerHTML = gotAllProducts_of_current_host[0].name;
      document.getElementById('price').innerHTML = '$ ' + gotAllProducts_of_current_host[0].price;
      document.getElementById('color').innerHTML = gotAllProducts_of_current_host[0].color;
      document.getElementById('size').innerHTML = gotAllProducts_of_current_host[0].size;
      document.getElementById('stock').innerHTML = gotAllProducts_of_current_host[0].stock;
      document.getElementById('description').innerHTML = gotAllProducts_of_current_host[0].description;
      document.getElementById('mainimg').src = gotAllProducts_of_current_host[0].image;


      for (let item = 0; item < gotAllProducts_of_current_host.length; item++) {
        console.log(item);
        let image_S3_url = gotAllProducts_of_current_host[item].image
        generateProductImages(image_S3_url);
      }
    }
  })


  function generateProductImages(imagePath) {
    var item = document.createElement('div');
    item.classList.add('item');
    var productimg = document.createElement('div');
    productimg.classList.add('productimg');
    productimg.style.backgroundImage = `url('${imagePath}')`;
    item.appendChild(productimg);
    item.onclick = function () {
      //get a single product and show the details on the above div
      $.ajax({
        url: '/hostlive/getaSingleProduct',
        type: "POST",
        data: {
          image: imagePath,
        },
        success: function (singleProduct) {
          console.log('singleProduct ==', singleProduct);

          document.getElementById('product_name').innerHTML = singleProduct.name;
          document.getElementById('price').innerHTML = '$ ' + singleProduct.price;
          document.getElementById('color').innerHTML = singleProduct.color;
          document.getElementById('size').innerHTML = singleProduct.size;
          document.getElementById('stock').innerHTML = singleProduct.stock;
          document.getElementById('description').innerHTML = singleProduct.description;
          document.getElementById('mainimg').src = singleProduct.image;
        }
      })
    }
    document.getElementById('productlist').append(item);
  }
</script>

<script>
  document.getElementById('openProductShowBtn').addEventListener('click', function (e) {
    e.preventDefault();
    var see = $('#productShow').css("visibility");
    if (see == 'visible') {
      $('#productShow').css("visibility", 'hidden');
      document.getElementById('openProductShowBtn').innerHTML = '+';
    } else if (see == 'hidden') {
      $('#productShow').css("visibility", 'visible');
      document.getElementById('openProductShowBtn').innerHTML = '-';
    }
  })
</script>

</html>