<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <% if (loginStatus.status == 'ok') { %>

    <%- include("./model/loginedmenu.ejs") %>

    <% } else { %>

    <%- include("./model/notloginedmenu.ejs") %>

    <% } %>
    <%- include("./model/header.ejs") %>
    <div id='container'>
        <div id='profileSettingList'>
            <div id='listbox'>
                <div class='topitem profileSettingitem'>
                    <p>用戶資訊</p>
                </div>
                <div class='miditem profileSettingitem'>
                    <p>購物車</p>
                </div>
                <div class='miditem profileSettingitem'>
                    <p>訂單查詢</p>
                </div>
                <div class='bottomitem profileSettingitem'>
                    <p>登出</p>
                </div>
            </div>
        </div>
        <% if (loginStatus.role == 'host') { %>
        <%- include("./model/hostsettings.ejs") %>
        <% } else if(loginStatus.role == 'user'){ %>
        <%- include("./model/usersettings.ejs") %>
        <% } %>
    </div>
</body>

<script>
    var role =  '<%= loginStatus.role %>';
    console.log(role);
    if(role == 'host') {
        document.getElementById('name').getElementsByClassName('content')[0].innerHTML = '<%= loginStatus.name %>';
        document.getElementById('email').getElementsByClassName('content')[0].innerHTML = '<%= loginStatus.email %>';
        document.getElementById('ID').getElementsByClassName('content')[0].innerHTML = '<%= loginStatus.stream_token %>';
        document.getElementById('description').getElementsByClassName('content')[0].innerHTML = 'no description';
    } else if (role == 'user') {
        document.getElementById('name').getElementsByClassName('content')[0].innerHTML = '<%= loginStatus.name %>';
        document.getElementById('email').getElementsByClassName('content')[0].innerHTML = '<%= loginStatus.email %>';
        document.getElementById('description').getElementsByClassName('content')[0].innerHTML = 'no description';
    }
</script>

</html>