<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/roomlist.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("./model/header/call-headers.ejs") %>
    <div id='category'>
        <div id='title'>
            <p>選擇感興趣的直播主吧！</p>
        </div>
    </div>
    <div id='rooms'>
    </div>
</body>

<script>

    function getStreamToken() {
        const stream_token = document.getElementsByClassName('stream_token')[0].innerText;
        const room_hostname = document.getElementsByClassName('room_hostname')[0].getElementsByTagName('p')[0].innerText;
        if ('<%= loginStatus.role %>' == 'host') {
            if ('<%= loginStatus.name %>' == room_hostname) {
                window.location = '/hostlive/' + stream_token;
            } else {
                window.location = '/userlive/' + stream_token;
            }
        } else {
            window.location = '/userlive/' + stream_token;
        }
    }

</script>

<script>


    var rooms = String(`<%- rooms %>`);
    var rooms_obj = JSON.parse(rooms);

    for (var iter = 0; iter < rooms_obj.length; iter++) {
        const stream_name = rooms_obj[iter].stream_token;
        const room_Title = rooms_obj[iter].room_name;
        const room_host_name = rooms_obj[iter].name;
        const ActivationStatus = rooms_obj[iter].active;
        const logo = rooms_obj[iter].logo;
        generateEverySingleRoom(stream_name, room_Title, room_host_name, ActivationStatus, logo);
    }

    function generateEverySingleRoom(stream_token, room_Title, room_host_name, active, logo) {
        let background_color = '';
        let liveword = '';

        if (active == 'close') {
            background_color = 'rgba(128,128,128,0.8)';
            livewords = 'NOT LIVE';
        } else if (active == 'open') {
            background_color = 'rgba(255, 0, 0, 0.8)';
            livewords = 'LIVE';
        }
        var single_room = document.createElement('div');
        var room_title = document.createElement('div');
        var circle = document.createElement('div');
        var innercircle = document.createElement('div');
        var RoomTitleP = document.createElement('p');

        var RoomTitleText = document.createTextNode(room_Title);
        var LiveStatusText = document.createTextNode(livewords);
        room_title.classList.add('room_title');
        room_title.style.backgroundColor = background_color;
        single_room.classList.add('single_room');
        circle.classList.add('circle');
        innercircle.classList.add('innercircle');
        RoomTitleP.appendChild(LiveStatusText);
        circle.appendChild(innercircle);
        room_title.appendChild(RoomTitleP);


        var room_hostname = document.createElement('div');
        room_hostname.classList.add('room_hostname');
        var host_owner_name = document.createElement('p');
        host_owner_name.appendChild(RoomTitleText);
        room_hostname.appendChild(host_owner_name);


        if(logo){
        single_room.style.backgroundImage=`url(${logo})`;
        }

        single_room.appendChild(room_title);
        single_room.appendChild(room_hostname);

        single_room.onclick = function () {
            if ('<%= loginStatus.role %>' == 'host') {
                if ('<%= loginStatus.name %>' == room_host_name) {
                    window.location = '/hostlive/' + stream_token;
                } else {
                    window.location = '/userlive/' + stream_token;
                }
            } else {
                window.location = '/userlive/' + stream_token;
            }
        };
        document.getElementById('rooms').appendChild(single_room);
    }


</script>

</html>