<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/liveview_for_host_n_user_2.css' />
  <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.0.0/dash.all.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>

  <h2 id='notLiveWord' style='width: 100%;'>目前未開播尚須等待，請稍後重新整理本網頁</h2>
  <%- include("./model/header/call-headers.ejs") %>

  <div id='live_container'>
    <div id='openProductShowBtn'><p>-</p></div>
    <div id='productShow'>
      <div id='productDescription'>
        <%- include("./model/product/productdescription.ejs") %>
      </div>
      <div id='productlist'>
      </div>
    </div>


    <div id='liveCheckButton'>
      <div id='liveicon-container'>
      <div id='circle'>
        <div id='innercircle'></div>
      </div>
      <div id='circle_text'>Not live</div>
    </div>
      
    </div>

    <div id='live'>

      <div id='wholeVideoContainer'>
        <div id='video-container'>
          <div id='video'>
            <video autoplay id="live_video" width="100%" controls muted>
            </video>
          </div>
        </div>
      </div>
    </div>

    <div id='chat'>
      <div id='msglog'>
      </div>
      <div id='sendmsg-container'>
        <div id='sendMessage'>
          <input type="text" id="message" name="message">
          <button id='sendMsgBtn'>傳 送</button>
        </div>
        <div>
          <p id='msg_status'></p>
        </div>
      </div>
    </div>
  </div>

</body>

<script>

  socket = io.connect();
  const roomid = '<%- id %>';
  const current_user_name = '<%= loginStatus.name %>';

  //check user's room and join
  console.log(roomid);
  var user = {
    name: current_user_name,
    room: roomid
  }
  socket.emit('join', user);
  socket.on('sys', function (status) {
    console.log(status);
  });

  //chat enter event
  document.getElementById("message").addEventListener("keyup", function (event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("sendMsgBtn").click();
    }
  });

  // User send message
  document.getElementById('sendMsgBtn').addEventListener('click', sendMessage);
  function sendMessage(e) {
    e.preventDefault();
    //var username = document.getElementById('username').value;
    var message = document.getElementById('message').value;
    if (message != '' && current_user_name != '') {
      var msg = {
        username: current_user_name,
        sender_role: 'user',
        message: message,
        room: roomid,
        image: ''
      }

      socket.emit('usr_message', msg);
      document.getElementById("message").value = '';
    }

    if (current_user_name == '') {
      document.getElementById('msg_status').innerText = '請先登入';
      document.getElementById('msg_status').style.visibility = 'visible';
    }

  }
  // User receive message 
  socket.on('gotMessage', function (gotMessage) {
    let msglog = document.getElementById('msglog');
    if (gotMessage.sender_role == 'host') {
      msglog.innerHTML += '<div class="hostMsg">' + '<div><span>' + gotMessage.username + " : " + gotMessage.message + '</span></div></div>';
      if (gotMessage.image != '') {
        msglog.innerHTML += '<div class="hostMsg-img"><img src="' + gotMessage.image + '" style="width:100px;"></div>';
        msglog.scrollTop = msglog.scrollHeight;
      }
      msglog.scrollTop = msglog.scrollHeight;
    } else if (gotMessage.sender_role == 'user') {
      msglog.innerHTML += '<div class="userMsg">' + '<div><span>' + gotMessage.username + " : " + gotMessage.message + '</span></div></div>';
      if (gotMessage.image != '') {
        msglog.innerHTML += '<div class="hostMsg-img"><img src="' + gotMessage.image + '" style="width:100px;"></div>';
        msglog.scrollTop = msglog.scrollHeight;
      }

    }
  });


</script>

<script>
  var single_room = `<%- room %>`;
  console.log(single_room);
  var room_obj = JSON.parse(single_room);
  console.log('room ==', room_obj);
  if (room_obj.active == 'open') {

    $('#liveicon-container').css('background-color', 'rgb(255, 0, 0)');
    document.getElementById('circle_text').innerText = 'LIVE';
    document.getElementsByTagName('h1')[0].style.display = 'none';
  } else if (room_obj.active == 'close') {
    $('#liveicon-container').css('background-color', 'rgb(128, 128, 128)');
    document.getElementById('circle_text').innerText = 'NOT LIVE';
  }


  //////////////////////////
  //for video manipulation//
  //////////////////////////
  if (room_obj.active == 'open') {
    // live video pull
    document.getElementById('notLiveWord').style.display = 'none';

    if (flvjs.isSupported()) {
      // document.querySelector("#video").addEventListener("click", function () {       })
      const live_url = `https://d2zq147sugqrci.cloudfront.net/` + '<%- id %>' + `.flv`;
      const video = document.getElementById('live_video');
      //const target = document.querySelector("input").value;
      const flvPlayer = flvjs.createPlayer({
        type: 'flv',
        url: live_url
        //url: `rtmp://localhost/live/`
      });
      flvPlayer.attachMediaElement(video);
      flvPlayer.load();
      flvPlayer.play();
    }
  }
</script>


<script>
  $.ajax({
    url: '/hostlive/getAllproducts',
    type: "POST",
    data: {
      stream_token: '<%- id %>',
    },
    success: function (gotAllProducts_of_current_host) {
      console.log('gotAllProducts == ', gotAllProducts_of_current_host);
      //for open the live view at the beginning, parse the first product to product show
      document.getElementById('product_name').innerHTML = gotAllProducts_of_current_host[0].name;
      document.getElementById('price').innerHTML = '$ ' + gotAllProducts_of_current_host[0].price;
      document.getElementById('color').innerHTML = gotAllProducts_of_current_host[0].color;
      document.getElementById('size').innerHTML = gotAllProducts_of_current_host[0].size;
      document.getElementById('stock').innerHTML = gotAllProducts_of_current_host[0].stock;
      document.getElementById('description').innerHTML = gotAllProducts_of_current_host[0].description;
      document.getElementById('mainimg').src = gotAllProducts_of_current_host[0].image;

      for (let item = 0; item < gotAllProducts_of_current_host.length; item++) {
        console.log(item);
        let image_S3_url = gotAllProducts_of_current_host[item].image
        generateProductImages(image_S3_url);

        //assign first product to the productshow div


      }
    }
  })

  // < div class='item' >
  //   <div class='productimg'>
  //   </div>
  // </div >

  function generateProductImages(imagePath) {
    var item = document.createElement('div');
    item.classList.add('item');

    var productimg = document.createElement('div');
    productimg.classList.add('productimg');
    productimg.style.backgroundImage = `url('${imagePath}')`;
    item.appendChild(productimg);

    item.onclick = function () {
      //get a single product and show the details on the above div
      $.ajax({
        url: '/hostlive/getaSingleProduct',
        type: "POST",
        data: {
          image: imagePath,
        },
        success: function (singleProduct) {
          console.log('singleProduct ==', singleProduct);

          document.getElementById('product_name').innerHTML = singleProduct.name;
          document.getElementById('price').innerHTML = '$ ' + singleProduct.price;
          document.getElementById('color').innerHTML = singleProduct.color;
          document.getElementById('size').innerHTML = singleProduct.size;
          document.getElementById('stock').innerHTML = singleProduct.stock;
          document.getElementById('description').innerHTML = singleProduct.description;
          document.getElementById('mainimg').src = singleProduct.image;
        }
      })
    }
    document.getElementById('productlist').append(item);
  }
</script>


<script>

// add to cart
  document.getElementById('Button_text').addEventListener('click', function (e) {
    e.preventDefault();

    const AddToCart = {
      role: '<%= loginStatus.role %>',
      email: '<%= loginStatus.email %>',
      name: document.getElementById('product_name').innerText,
      color: document.getElementById('color').innerText,
      size: document.getElementById('size').innerText,
      price: document.getElementById('price').innerText,
      stock: document.getElementById('stock').innerText,
      description: document.getElementById('description').innerText,
      image: document.getElementById('mainimg').src
    }


    $.ajax({
      url: '/userlive/addtoCart',
      type: "POST",
      data: AddToCart,
      success: function (result) {
        console.log('result ==', result);
      }
    })
  })


</script>

<script>
  document.getElementById('openProductShowBtn').addEventListener('click',function(e){
    e.preventDefault();
    var see = $( '#productShow' ).css( "visibility" );
      if(see == 'visible'){
        $( '#productShow' ).css( "visibility", 'hidden' );
        document.getElementById('openProductShowBtn').innerHTML = '+';
      }else if(see == 'hidden'){
        $( '#productShow' ).css( "visibility", 'visible' );
        document.getElementById('openProductShowBtn').innerHTML = '-';
      }
  })
</script>

<!-- DASH mpd -->
<!-- <script>
  //let video_url = "http://localhost:8000/live/hzctony/index.mpd";
  let video_url = "http://d2bdydyr5nl3wu.cloudfront.net/live/"+ "6a724b416e5a449dedb038bf20cac4b7fdbdaee0396665bc61575e19d9b94f26" +"/index.mpd";
  let player = dashjs.MediaPlayer().create();
  let videoplayer = document.getElementById('live_video');
  player.initialize(videoplayer, video_url, true);
</script> -->

</html>