<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/user_live.css' />
  <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/3.0.0/dash.all.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>


  <%- include("./model/header/call-headers.ejs") %>
  
  <div id='live_container'>
    <div id='productlist'>
      <%- include("./model/product/productlist.ejs") %>
      <%- include("./model/product/productlist.ejs") %>
      <%- include("./model/product/productlist.ejs") %>
      <%- include("./model/product/productlist.ejs") %>
      <%- include("./model/product/productlist.ejs") %>
    </div>

    <div id='live'>
      <div id='video-container'>
        <div id='video'>
          <video autoplay id="live_video" width="100%" controls muted>
          </video>
        </div>
      </div>
    </div>

    <div id='chat'>
      <div id='msglog'>
      </div>
      <div id='sendMessage'>
        <!-- <input id='username' type="text" name="username" placeholder="Type your name here"><br> -->
        <input type="text" id="message" name="message">
        <button id='sendMsgBtn'>傳送</button>
      </div>
    </div>

  </div>



  <script>
    socket = io.connect();
    const roomid = '<%- id %>';
    const current_user_name = '<%= loginStatus.name %>';

    //check user's room and join
    console.log(roomid);
    var user = {
      name: current_user_name,
      room: roomid
    }
    socket.emit('join', user);
    socket.on('sys', function (status) {
      console.log(status);
    });

    // User send message
    document.getElementById('sendMsgBtn').addEventListener('click', sendMessage);
    function sendMessage(e) {
      e.preventDefault();
      //var username = document.getElementById('username').value;
      var message = document.getElementById('message').value;

      var msg = {
        username: current_user_name,
        sender_role: 'user',
        message: message,
        room: roomid
      }
      console.log(msg);
      socket.emit('usr_message', msg);
    }
    // User receive message 
    socket.on('gotMessage', function (gotMessage) {
      const msglog = document.getElementById('msglog');
      if (gotMessage.sender_role == 'host') {
        msglog.innerHTML += '<div id="hostMsg">' + '<div><span> ' + current_user_name + " : " + gotMessage.message + ' </span></div></div>';
        msglog.scrollTop = msglog.scrollHeight;
      } else {
        msglog.innerHTML += '<div id="userMsg">' + '<div><span> ' + current_user_name + " : " + gotMessage.message + ' </span></div></div>';
        msglog.scrollTop = msglog.scrollHeight;
      }
    });


  </script>
  <script>
    // live video pull
    // if (flvjs.isSupported()) {
    //  //document.querySelector("#video").addEventListener("click", function () {    })
    //   const live_url = `http://localhost:8000/live/` + roomid + `.flv`;
    //   const video = document.getElementById('live_video');
    //   //const target = document.querySelector("input").value;
    //   const flvPlayer = flvjs.createPlayer({
    //     type: 'flv',
    //     url: live_url
    //     //url: `rtmp://localhost/live/`
    //   });
    //   // flvPlayer.attachMediaElement(video);
    //   // flvPlayer.load();
    //   // flvPlayer.play();
    // }
  </script>
  <!-- DASH mpd -->
  <script>
    //let video_url = "http://localhost:8000/live/hzctony/index.mpd";
    let video_url = "http://d2bdydyr5nl3wu.cloudfront.net/live/"+ "6a724b416e5a449dedb038bf20cac4b7fdbdaee0396665bc61575e19d9b94f26" +"/index.mpd";
    let player = dashjs.MediaPlayer().create();
    let videoplayer = document.getElementById('live_video');
    player.initialize(videoplayer, video_url, true);
  </script>
</body>

</html>